$foreground: #a9b1d6;
$background: #1a1b26;

$black:   #414868;
$red:     #f7768e;
$green:   #73daca;
$yellow:  #e0af68;
$blue:    #7aa2f7;
$magenta: #bb9af7;
$cyan:    #7dcfff;
$white:   #c0caf5;

* {
  all: unset; // Unset everything so we can start from scratch
}

.top_bar {
  background-color: $background;
  color: $foreground;
  border-radius: 10px;
  font-family: Hack Nerd Font;
}

.workspaces {
  button {
    font-size: 1.5em;
    border-radius: 15px;
    margin: 0 1px;
    padding: 1px;
    min-width: 30px;

    &:hover {
      // background-color: blue;
      color: white;
    }

    &.active {
      color: $yellow;
    }
  }
}

.music-popup {
  background-color: $background;
  color: $foreground;
  border-radius: 10px;

  font-family: Hack Nerd Font;
  font-weight: bold;

  border: 1px solid $background;

  .cover {
    opacity: 0.3;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
  }

  .provider {
    margin: 5px;
    font-size: 2.5em;
    min-width: 54px;
  }

  .info {
    margin: 20px;
    font-size: 1.2em;
  }

  // TODO: Rework into compound widget with info
  .progress {
    margin: 15px;

    scale trough {
      min-width: 380px;
      min-height: 10px;
      border-radius: 10px;
      background-color: $background;
      // background-color: #595959;
      box-shadow: 0 3px 4px 2px #2b2b2b;
    }

    scale trough highlight {
      border-radius: 10px;
      background-color: $red;
    }
  }
}

.calendar {
  background-color: $background;
  color: $foreground;
  border-radius: 10px;

  .content {
    margin: 20px;

    .date {
      margin-bottom: 20px;
      font-size: 1.5em;
    }
  }
}
